@CHARSET "UTF-8";


.ui-menubar  {
    border: 1px solid #aed0ea !important;
    background: #74b2e2 url(../image/register_menu.png) 50% 50% repeat-x !important;
    color: #ffffff !important;
    font-weight: bolder !important;
}

.ui-icon {
	width: 16px;   
    height: 16px;   
    background-image: url(#{resource['image:register_menu.png']});   
}  
